<div class="container" >
  <app-search-input ></app-search-input>
  <app-panel [count]="count" (toggleLoadType)="changeLoadType()" [loadType]="loadType"></app-panel>
  <app-table 
  *ngIf="data.length > 0;else nothingFound"
  [data]="data"
  [loadType]="loadType"
  [height]="itemHeight"
  ></app-table>
  <app-page-controls  *ngIf="loadType === 'page' && data.length > 0"
    [page]="page"
    [next]="next" 
    [previous]="previous"
    (nextPage)="goNextPage()"  
    (prevPage)="goPrevPage()" >
  </app-page-controls>
</div>


<ng-template #nothingFound>
  <div class="empty">
    Ничего не найдено
  </div>
</ng-template>