<div class="container" >
  <div [formGroup]="searchForm">
    <input type="search" formControlName="searchInput" #input>
</div>  <app-panel [loadType]="loadType" [count]="count" (toggleLoadType)="changeLoadType()"></app-panel>
  <app-table 
  [data]="data"
  [height]="itemHeight"
  ></app-table>
  <app-page-controls
    *ngIf="loadType === 'page'"
    [next]="nextPage" 
    [previous]="prevPage" 
    [page]="page"
    (pageChange)="changePage($event)"
    ></app-page-controls>
</div>


<ng-template #nothingFound>
  <div class="empty">
    Ничего не найдено
  </div>
</ng-template>